* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: white;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh; 
  margin-top:-3.5%;
}



.left-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; 
  background-color: white;
  padding: 10px;
  text-align: center;
}


.right-half {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; 
  background-color: white;
  padding: 10px;
  margin-top: 3.5%;
}



.Logo {
  width: 75%;  
  height: auto; 
  object-fit: contain;  
}

.Tube {
  margin-top:2%;
  width: 60%;  
  height: auto; 
  object-fit: contain;  
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-left:5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.search-bar button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.search-bar button:hover {
  background-color: #444;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .left-half,
  .right-half {
    width: 100%;
    margin-bottom: 20px;
  }

  .Logo {
    max-width: 90%;
    height: auto;
  }

  .Tube {
    max-width: 70%;
    height: auto;
  }

  .search-bar input {
    width: 90%;
  }

  .search-bar button {
    width: 90%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .search-bar input {
    font-size: 14px;
  }

  .search-bar button {
    font-size: 14px;
    padding: 10px;
  }

  .Logo {
    margin-top:20%;
    height:auto;
    width:auto;
  }

  .Tube {
    max-width: 70%;
    height: auto;
    margin-bottom: 45%;
    width:auto;
  }
}